@import url('//db.onlinewebfonts.com/c/1db29588408eadbd4406aae9238555eb?family=Consolas');

.repositories {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 22vh;

    i {
        color: #FAC863;
        font-size: 14px;
    }
    
    a {
        font-size: 16px;      
        color: #00B6F2;
        display: inherit;
        line-height: 2.6;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    
    .repository {
        background-color: #282c34;
        padding: 12px 18px;
        color: white;
        font-family: Consolas, source-code-pro, Menlo, Monaco, Courier New, monospace;
        border-radius: 20px;
        line-height: .2;
        font-size: 15px;
        margin: 15px 15px;
        flex: 1 1 340px;
        display: grid;
        min-height: 180px;
    }
    
    p {
        line-height: 1.2;
        color: #B2B2B2;
    }
    
    p:last-child {
        color: #FFF;   
    }   
}

