@import '../../assets/sass/globals.scss';

.header {
    .transparent {
        background-color: transparent;
    }
  
    border: 0;
    box-shadow: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    @include font_primary;
    @include transition;

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;    
        width: 1200px;
        max-width: 100%;
        padding: 0px 15px;
        height: 56px;
        margin: 0 auto;
        transition: 1s;

        .navbar {
            color: $text_secondary;
            width: 90%;
            padding-left: 10%;
            ul {      
                padding-left: 0;         
                text-align: center;
                li {
                    display: inline;
                    padding: .5em 2.8em;
                    @media only screen and (max-width: 500px) {
                        padding: .5em 1.8em;
                    }
                    @media only screen and (max-width: 440px) {
                        padding: .5em 1em
                    }
      
                    a {
                        font-size: 0.75em;
                        font-weight: bold;
                        text-transform: uppercase;
                        letter-spacing: 0.1em;
                        text-decoration: none; 
                        @media only screen and (max-width: 340px) {
                            font-size: 0.55em;
                        }
                        &:hover {
                            color: $light;
                            cursor: pointer;
                        }       
                    }
                    .active {
                        color: $light;
                    }
                }
            }   
        }
    }

    .switch {
        width: 10%;
    }
}

.color {
    @include transition;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    height: 52px;
    background-color: $primary;
    border-bottom: solid 4px $secondary;

    .navbar {
        ul {
            margin: 0em 0 .5em;
        }
    } 
}
