@import '../../assets/sass/globals.scss';

.footer {
    .social {
        height: 200px;
        width: 100%;
        background-color: $primary;
        padding-top: 79px;
        text-align: center;
        margin-top: 15px;
    
        a {  
            color: $text_primary;
            i {
                font-size: 42px;
                margin: 0px 5px;          
            }       
        }   
        :hover {
            cursor: pointer;
            color: $light;
        } 
    }

    .copyright {
        background-color: $secondary;
        width: 100%;
        text-align: center;
        color: $text_primary;
        font-family: sans-serif;  
        height: 42px;
        line-height: 3;
        font-size: 14px;
    
        strong {
            color: $light;
            font-weight: 500;
        }
    }
}
