@import url('//db.onlinewebfonts.com/c/1db29588408eadbd4406aae9238555eb?family=Consolas');

.profile {
    
    img {
        border: solid 5px #172432;
        border-radius: 50%;
        width: 200px;
        background-color: white;
    }

    font-family: Consolas, source-code-pro, Menlo, Monaco, Courier New, monospace;
    background-color:  #f2f5f6;
    color: #172432;
}
