html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}

::selection {
  background: #172432;
  color: white    
}

* {
  box-sizing: border-box;
}
