$primary:           #282C34;
$secondary:         #20232A;
$warning:           #FAC863;
$danger:            #FC929E;
$sucess:            #C5A5C5;
$light:             #FFFFFF;
$dark:              #141C3A;
$darkest:           #172432;
$info:              #79B6F2;
$text_primary:      #B2B2B2;
$text_secondary:    #999999;
$text_third:        #5C5C5C;
$text_info:         #00B6F2;
$text_success:      #8DC891;
