@font-face {
    font-family: 'roboto'; 
    src: url('../fonts/roboto.css');
}

@font-face {
    font-family: 'open-sans'; 
    src: url('../fonts/open-sans.css');
}


@font-face {
    font-family: 'consolas'; 
    src: url('../fonts/consolas.css');
}

